* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #000000;
    margin: auto;
    background-image: linear-gradient(to bottom, #c7b6e4, #000000);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    background-color: #ffffff;
    width: 80%;
    min-width: 1200px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
}

header {
    color: #ffffff;
    background-color: #666666;
    background-image: url();
    background-repeat: no-repeat;
    background-position: initial;
    text-align: center;
    height: 120px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: #666666;
    overflow: auto;
    height: auto;
}

header h1 {
    text-shadow:1px 1px #000000, 3px 3px #c7b6e4, 5px 5px #000000;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 3em;
    font-family: "Audiowide";
}


nav ul {
    background-color: #000000;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    border-top: solid;
    border-bottom: solid;
    display: flex;
    justify-content: space-around;
}

nav a:link {
    text-decoration: none;
}



section {
    padding-top: 50px;
    padding-bottom:50px;
    border: solid;
    height: 550px;
}

section h2 {
    color: rgb(255, 255, 255);
    text-shadow:1px 1px #000000, 2px 2px #c7b6e4, 3px 3px #000000;
    text-align: center;
    padding-right: 115px;
    padding-left: 100px;

}

section p {
    font-size: 1.4em;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}

section a {
    margin-left: 100px;
}

img {
    width: 500px;
    height: 500px;
}

form {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 6em 1fr;
    width: 60%;
    max-width: 30em;
    padding: 5em;
    margin: auto;
}

input[type="submit"] {
    grid-column: 2;
    width: 9em;
}

p {
    text-align: center;
}

h4 {
    text-align: center;
}

.imgleft {
    padding-top: 2%;
    float: left;
    padding-right: 102px;
    padding-left: 75px;
}

.imgright {
    padding-top: 2%;
    float: right;
    padding-left: 102px;
    padding-right: 75px;
}

footer {
    padding-top: 10px;
    background-color: #66666638;
    text-align: center;
    font-size: 1em;
} 

footer img {
    height: 30px;
    width: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #c7b6e4;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  tr:nth-child(odd) {
    background-color: #cecece;
  }

.neon-button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background-color: #222;
    box-shadow: 0 0 10px #222;
    position: relative;
    overflow: hidden;
}
  
.neon-button:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}
  
.neon-button:hover:before {
    left: 100%;
}
  
.neon-button:hover {
    color: #222;
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
}

.containerleft {
    float: left;
    width: 500px;
    height: 500px;
    perspective: 800px;
    padding-right: 102px;
    padding-left: 75px;
    max-width: 100%;
    max-height: 100%;
}

.containerright {
    float: right;
    width: 500px;
    height: 500px;
    perspective: 800px;
    padding-right: 102px;
    padding-left: 75px;
    max-width: 100%;
    max-height: 100%;
}


.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.containerleft:hover > .card,
.containerright:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.front1,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front1 {
    background-image: url(/images/selfie.jpeg);
    background-size: contain;
}

.front2
  {
    background-image: url();
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front2 {
    background-image: url(/images/coding.jpg);
    background-size: cover;
}

.back {
    background: linear-gradient(70deg, #ffffff, #747474);
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#map-container {
    text-align: center;
}
